.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1/a04ccf66153700141585901835834d04
.metadata/.plugins/org.eclipse.core.resources/.history/41/f0259676153700141585901835834d04
.metadata/.plugins/org.eclipse.core.resources/.history/d9/80c1158a153700141585901835834d04
.metadata/.plugins/org.eclipse.core.resources/.projects/Caso1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Caso1/.indexes/e4/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Caso1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Caso1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/1075156909.index
.metadata/.plugins/org.eclipse.jdt.core/1144188029.index
.metadata/.plugins/org.eclipse.jdt.core/1820024274.index
.metadata/.plugins/org.eclipse.jdt.core/2706502329.index
.metadata/.plugins/org.eclipse.jdt.core/2708239607.index
.metadata/.plugins/org.eclipse.jdt.core/3008068235.index
.metadata/.plugins/org.eclipse.jdt.core/3015671029.index
.metadata/.plugins/org.eclipse.jdt.core/3256372620.index
.metadata/.plugins/org.eclipse.jdt.core/3521617142.index
.metadata/.plugins/org.eclipse.jdt.core/3626931047.index
.metadata/.plugins/org.eclipse.jdt.core/384216248.index
.metadata/.plugins/org.eclipse.jdt.core/4018706093.index
.metadata/.plugins/org.eclipse.jdt.core/4149142647.index
.metadata/.plugins/org.eclipse.jdt.core/683184654.index
.metadata/.plugins/org.eclipse.jdt.core/728132027.index
.metadata/.plugins/org.eclipse.jdt.core/739078005.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/version.ini
Caso1/.classpath
Caso1/.project
Caso1/.settings/org.eclipse.jdt.core.prefs
Caso1/bin/Cliente/Cliente.class
Caso1/bin/Servidor/Servidor.class
